

html {
  background: url("https://media.giphy.com/media/10h1BGkwYiIydi/giphy.gif") no-repeat center left fixed;
  /*background: url() no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header{
  color: white;
  text-align: center;
  font-size: 55px;
  font-family: 'Pangolin', 'cursive';
  font-weight: 900;
  padding: 15px;

}

h2#turnMessage{
  display: none;
  color: white;
  text-align: center;
  font-family: 'Pangolin', 'cursive';
  font-weight: 600;
  padding: 15px;
  top: 11%;
  left: 25%;
  position: absolute;
  border-bottom: 2px dotted lightgreen;
}

h2#p1Score{
  color: white;
  text-align: center;
  font-family: 'Pangolin', 'cursive';
  font-weight: 600;
  padding: 2px;
  top: 17%;
  left: 78%;
  position: absolute;
  font-size: 200%;
  margin-bottom: 10%;
}

h2#p2Score{
  color: white;
  text-align: center;
  font-family: 'Pangolin', 'cursive';
  font-weight: 600;
  font-size: 200%;
  padding: 2px;
  top: 25%;
  left: 78%;
  position: absolute;
}


td{
  border: 10px groove lightsteelblue;
  height: 130px;
  width: 150px;
  text-align: center;
  vertical-align: middle;
  font-size: 90px;
  font-weight: 900;
  cursor: pointer;
  /*font-family: 'Pangolin', cursive;*/
  font-family: 'Permanent Marker', cursive;
  color: orangered;
}

table{
  border-collapse: collapse;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  /*table is 310px in width, so have set margin-left so that the table is not half off the page*/
  top: 25%;

}

table tr:first-child td{
  /*this will select the three squares in the top row*/
  border-top: 0;
}

table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  /*select the first three columns*/
  border-left:0;
}
table tr td:last-child{
  border-right: 0;
}

.endgame{
  display: none;
  width: 475px;
  height: 210px;
  top: 160px;
  position: absolute;
  border-radius: 75px 30px;
  border: 1px solid white;
  background-color: black;
  left: 43%;
  margin-left: -140px;
  padding-top: 85px;
  padding-bottom: 50px;
  text-align: center;
  /*color: white;*/
  font-size: 4em;
  opacity: 0.8;
}
.text{
  color: white;
  padding-top: 35px;
}

footer{
  position: absolute;
  bottom: 5%;
  margin: 0 auto;
  /*left: 50%;*/

}

button:hover{
  background: orangered;
}

button{
  margin-left: 6%;
  margin-top: 3%;
  padding: 3px;
  border-radius: 20px;
  font-size: 1.5em;
  font-family: 'Permanent Marker', cursive;
  background: lightgreen;
  border-color: white;
  width: 9%;
}

button#reset, button#playAgain1P, button#playAgain2P{
  margin-top: 2%;

}
